<header class="top-header">
  <div class="container">
    <nav class="navbar justify-content-between">
      <a class="navbar-brand" href="/dashboard">Blog Dashboard</a>
      <a class="navbar-brand" href="/post-blog">Create Blog</a>
      <div>
        <span class="me-4">Hello {{ fullName }}!</span>
        <button class="btn btn-outline-danger my-2 my-sm-0" (click)="logOut()">
          Sign Out
        </button>
      </div>
    </nav>
  </div>
</header>
<section class="card-bg">
  <div class="container pt-5">
    <div class="row">
      <div class="col-md-4 my-3" *ngFor="let blog of blogs">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ blog.title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">{{ blog.summary }}</p>
            <a [routerLink]="['/read-blog', blog.id]">Read More</a><br />
            <a [routerLink]="['/view', blog.id]">Edit Blog</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
